include ../includes/mixins.jade

mixin dropdown_menu ( label )
    -
        var atts = {
            'href'          : '#',
            'data-toggle'   : 'dropdown',
            'role'          : 'button',
            'aria-haspopup' : 'true',
            'aria-expanded' : 'false'
        };
    li.dropdown
        a( class="dropdown_toggle" )&attributes( atts ) #{label}
            span.caret
        ul.dropdown-menu
            block

+nav( "BOLO Version 5.0", "bolo-nav" )
    if userLoggedIn
        ul.nav.navbar-nav
            li: a( href="/bolo" ) Home
            +dropdown_menu( 'CREATE BOLO' )
                li: a( href="/bolo/create/generalbolo" ) GENERAL BOLO
                li: a( href="/bolo/create/auto" ) THEFT - AUTO
                li: a( href="/bolo/create/boat" ) THEFT - BOAT
            li: a( href="/bolo/archive" ) Archive
            li: a( href="/agency" ) Agency Directory
            li: a( href="/bolo/search" ) Search
            if (tier === 'ROOT' || tier === 'ADMINISTRATOR')
                li: a( href="/admin" ) Admin
        ul.nav.navbar-nav.navbar-right
            +dropdown_menu(username)
                li: a( href="/account" ) Setting
                li: a(href="/userGuide") User Guide
                li: a( href="/logout" ) Logout
