//
   Created by Ed on 2/22/2016.
div.col-xs-12
    .form-group.pull-right
        label.control-label(for="purgeRange") Bolos Older Than:
            select#purgeRange(name="purgeRange")
                option(value='1') Two Years
                option(value='2') All Archived Bolos


