extends ./layout.jade
include ./includes/mixins.jade

block jumbo
    .jumbotron
        .container
            h3 About Us

block content
    table
        tr
            td.col-md-6
                img#featured.img-fluid( src="/img/ceballos.jpg" alt="", width=400 )
                h3 Founder: Chief Samuel Ceballos
                P

            td.col-md-6
                img#featured.img-fluid( src="/img/UGpic.jpg" alt="", width=400 )
                h3 Cofounder: Major Jason Cohen
                p

        tr
            td.col-md-6
                img#featured.img-fluid( src="/img/UGpic.jpg" alt="", width=400 )
                h3 Project Mentor: Juan Caraballo
                P
            td
                img#featured.img-fluid( src="/img/UGpic.jpg" alt="", width=400 )
                h3 Project Mentor: Robert Loredo
                p
