extends ./layout.jade
include ./includes/mixins.jade

//    This is the format laid out for you do not change it!
//    Alphabetical by last name for each semester and for each STUDENT there
//    four places that have to be updated according to the screen size to make
//    this mobile responsive.
//
//  Sample:
//    div.hidden-xl.hidden-lg.hidden-md.hidden-sm.col-xs-12
//        a(href='#' target='_blank')   ==> like to linked in page or an about you page only.
//            #[img( src="/img/burke.jpg" alt="", width=200)]  ==> photo
//        h4.strong Burke, John         ==> Your name
//        p egonz077@fiu.edu            ==> Your email
//        p Front end development       ==> one feature you worked on (your milestone)
//        p Graduation 5 Aug. 2016      ==> Graduation Data
//        br
//        br

block jumbo
    .jumbotron
        .container
            a(href='https://cec.fiu.edu/' target='_blank')
                | #[img#featured.img.center-block( src="/img/cec.jpg" alt="" )]
block content
    div.container
        div.row
                br
                br
            p For the seniors in FIU’s Department of Electrical and Computer
                | Engineering, everything they’ve learned in four years
                | culminates with a single project. Working together in teams,
                | they take on projects that test their knowledge, ingenuity,
                | patience and imagination. Finally, on Senior Design Day,
                | the students put on their best suits and showcase their
                | projects to a host of industry advisers who pick their brains
                | and give them feedback on their work. The Senior Project
                | course was created to test a potential graduates ability to
                | work in a real software development environment. Potential
                | graduates' success in this course will enable them to provide
                | a significant software project that may help them land a job
                | in the real-world.
                br
                br
                br
                br
    div.container
        div.row
            div.col-xl-8.hidden-lg.hidden-md.hidden-sm.hidden-xs
                a(href='http://users.cis.fiu.edu/~sadjadi/' target='_blank')
                    | #[ img#featured.img.left-block( src="/img/sadjadi.jpg" alt="", width=300)]
                    br
                h3.strong Masoud Sadjadi, PhD
            div.col-xl-8.hidden-lg.hidden-md.hidden-sm.hidden-xs
                p Dr. Sadjadi holds a B.S. degree in Hardware Engineering, an M.S.
                    | degree in Software Engineering, and a Ph.D. degree in Computer
                    | Science. He is currently an Associate Professor in the School
                    | of Computing and Information Sciences at Florida International
                    | University, where he has been on the faculty since 2004. He
                    | serves as the Director of the VIP project at FIU, the Director
                    | of the Professional Master in Science for Information Technology
                    | at FIU, and is in charge of Computer Science Senior Projects.
                    | He has extensive experience in software development and leading
                    | large-scale software engineering projects both in industry
                    | and in academia. During the past three years, Dr. Sadjadi
                    | has successfully transformed senior projects at FIU from a
                    | traditional waterfall approach to an agile/scrum approach.
                    | Dr. Sadjadis research is focused on Agile Software Development
                    | in Distributed Systems, Autonomic Computing, High-Performance
                    | Computing, Grid Computing, Cloud Computing, Pervasive Systems,
                    | and Mobile Computing. He is the Director of the Autonomic
                    | Cloud Research Laboratory (ACRL) at FIU and leads several
                    | projects under the Latin American Grid initiative. Currently,
                    | he is collaborating with top researchers in 8 countries and
                    | is leading several international collaborative research projects.
                    | He has served as the General Chair of, Program Chair, Co-Chair,
                    | and Committee Member of several top-tier international conferences
                    | and workshops of his field. He has served as a referee for
                    | several IEEE and SP&E journals and as a referee and panelist
                    | for several funding agencies including National Science Foundation
                    | (NSF), Luxembourg National Research Fund (FNR), and Florida Sea Grant.
                    | He has more than 80-refereed publications and is PI or Co-PI
                    | of 17 grants from NSF, IBM, Kaseya, TeraGrid, and FIU for a
                    | total of about $6 million. Dr. Sadjadi was previously the
                    | Director of the Center of Partnership for International
                    | Research & Education (PIRE) funded by the National Science
                    | Foundation for $2.3 million. He is a member of the IEEE and
                    | can be reached at sadjadi@cs.fiu.edu
                    br
                    br
                    br
                    br
    div.container
        div.row
            div.col-lg-4.hidden-md.hidden-sm.hidden-xs
                a(href='http://users.cis.fiu.edu/~sadjadi/' target='_blank')
                    | #[img#featured.img.left-block( src="/img/sadjadi.jpg" alt="", width=300)]
                    br
                h3.strong Masoud Sadjadi, PhD
            div.col-lg-8.hidden-md.hidden-sm.hidden-xs
                p Dr. Sadjadi holds a B.S. degree in Hardware Engineering, an M.S.
                    | degree in Software Engineering, and a Ph.D. degree in Computer
                    | Science. He is currently an Associate Professor in the School
                    | of Computing and Information Sciences at Florida International
                    | University, where he has been on the faculty since 2004. He
                    | serves as the Director of the VIP project at FIU, the Director
                    | of the Professional Master in Science for Information Technology
                    | at FIU, and is in charge of Computer Science Senior Projects.
                    | He has extensive experience in software development and leading
                    | large-scale software engineering projects both in industry
                    | and in academia. During the past three years, Dr. Sadjadi
                    | has successfully transformed senior projects at FIU from a
                    | traditional waterfall approach to an agile/scrum approach.
                    | Dr. Sadjadis research is focused on Agile Software Development
                    | in Distributed Systems, Autonomic Computing, High-Performance
                    | Computing, Grid Computing, Cloud Computing, Pervasive Systems,
                    | and Mobile Computing. He is the Director of the Autonomic
                    | Cloud Research Laboratory (ACRL) at FIU and leads several
                    | projects under the Latin American Grid initiative. Currently,
                    | he is collaborating with top researchers in 8 countries and
                    | is leading several international collaborative research projects.
                    | He has served as the General Chair of, Program Chair, Co-Chair,
                    | and Committee Member of several top-tier international conferences
                    | and workshops of his field. He has served as a referee for
                    | several IEEE and SP&E journals and as a referee and panelist
        div.row
            div.hidden-md.hidden-sm.hidden-xs
                p for several funding agencies including National Science Foundation
                    | (NSF), Luxembourg National Research Fund (FNR), and Florida Sea Grant.
                    | He has more than 80-refereed publications and is PI or Co-PI
                    | of 17 grants from NSF, IBM, Kaseya, TeraGrid, and FIU for a
                    | total of about $6 million. Dr. Sadjadi was previously the
                    | Director of the Center of Partnership for International
                    | Research & Education (PIRE) funded by the National Science
                    | Foundation for $2.3 million. He is a member of the IEEE and
                    | can be reached at sadjadi@cs.fiu.edu
                    br
                    br
                    br
                    br
        div.row
            div.hidden-xl.hidden-lg.col-md-4.hidden-sm.hidden-xs
                a(href='http://users.cis.fiu.edu/~sadjadi/' target='_blank')
                    | #[img#featured.img.left-block( src="/img/sadjadi.jpg" alt="", width=300)]
                    br
                h3.strong Masoud Sadjadi, PhD
            div.hidden-xl.hidden-lg.col-md-8.hidden-sm.hidden-xs
                p Dr. Sadjadi holds a B.S. degree in Hardware Engineering, an M.S.
                    | degree in Software Engineering, and a Ph.D. degree in Computer
                    | Science. He is currently an Associate Professor in the School
                    | of Computing and Information Sciences at Florida International
                    | University, where he has been on the faculty since 2004. He
                    | serves as the Director of the VIP project at FIU, the Director
                    | of the Professional Master in Science for Information Technology
                    | at FIU, and is in charge of Computer Science Senior Projects.
                    | He has extensive experience in software development and leading
                    | large-scale software engineering projects both in industry
                    | and in academia. During the past three years, Dr. Sadjadi
                    | has successfully transformed senior projects at FIU from a
                    | traditional waterfall approach to an agile/scrum approach.
                    | Dr. Sadjadis research is focused on Agile Software Development
                    | in Distributed Systems, Autonomic Computing, High-Performance
                    | Computing, Grid Computing, Cloud Computing, Pervasive Systems,
                    | and Mobile Computing. He is the Director of the Autonomic
                    | Cloud Research Laboratory (ACRL) at FIU and leads several
                    | projects under the Latin American Grid initiative. Currently,
                    | he is collaborating with top researchers in 8 countries and
                    | is leading several
        div.row
            div.hidden-xl.hidden-lg.hidden-sm.hidden-xs
                p  international collaborative research projects.
                    | He has served as the General Chair of, Program Chair, Co-Chair,
                    | and Committee Member of several top-tier international conferences
                    | and workshops of his field. He has served as a referee for
                    | several IEEE and SP&E journals and as a referee and panelist
                    | for several funding agencies including National Science Foundation
                    | (NSF), Luxembourg National Research Fund (FNR), and Florida Sea Grant.
                    | He has more than 80-refereed publications and is PI or Co-PI
                    | of 17 grants from NSF, IBM, Kaseya, TeraGrid, and FIU for a
                    | total of about $6 million. Dr. Sadjadi was previously the
                    | Director of the Center of Partnership for International
                    | Research & Education (PIRE) funded by the National Science
                    | Foundation for $2.3 million. He is a member of the IEEE and
                    | can be reached at sadjadi@cs.fiu.edu
                    br
                    br
                    br
                    br
        div.row
            div.hidden-xl.hidden-lg.hidden-md.col-sm-4.hidden-xs
                a(href='http://users.cis.fiu.edu/~sadjadi/' target='_blank')
                    | #[img#featured.img.left-block( src="/img/sadjadi.jpg" alt="", width=200)]
                    br
                h4.strong Masoud Sadjadi, PhD
            div.hidden-xl.hidden-lg.hidden-md.col-sm-8.hidden-xs
                p Dr. Sadjadi holds a B.S. degree in Hardware Engineering, an M.S.
                    | degree in Software Engineering, and a Ph.D. degree in Computer
                    | Science. He is currently an Associate Professor in the School
                    | of Computing and Information Sciences at Florida International
                    | University, where he has been on the faculty since 2004. He
                    | serves as the Director of the VIP project at FIU, the Director
                    | of the Professional Master in Science for Information Technology
                    | at FIU, and is in charge of Computer Science Senior Projects.
                    | He has extensive experience in software development and leading
                    | large-scale software engineering projects both in industry
                    | and in academia. During
        div.row
            div.hidden-xl.hidden-lg.hidden-md.hidden-xs
                p the past three years, Dr. Sadjadi
                    | has successfully transformed senior projects at FIU from a
                    | traditional waterfall approach to an agile/scrum approach.
                    | Dr. Sadjadis research is focused on Agile Software Development
                    | in Distributed Systems, Autonomic Computing, High-Performance
                    | Computing, Grid Computing, Cloud Computing, Pervasive Systems,
                    | and Mobile Computing. He is the Director of the Autonomic
                    | Cloud Research Laboratory (ACRL) at FIU and leads several
                    | projects under the Latin American Grid initiative. Currently,
                    | he is collaborating with top researchers in 8 countries and
                    | is leading several international collaborative research projects.
                    | He has served as the General Chair of, Program Chair, Co-Chair,
                    | and Committee Member of several top-tier international conferences
                    | and workshops of his field. He has served as a referee for
                    | several IEEE and SP&E journals and as a referee and panelist
                    | for several funding agencies including National Science Foundation
                    | (NSF), Luxembourg National Research Fund (FNR), and Florida Sea Grant.
                    | He has more than 80-refereed publications and is PI or Co-PI
                    | of 17 grants from NSF, IBM, Kaseya, TeraGrid, and FIU for a
                    | total of about $6 million. Dr. Sadjadi was previously the
                    | Director of the Center of Partnership for International
                    | Research & Education (PIRE) funded by the National Science
                    | Foundation for $2.3 million. He is a member of the IEEE and
                    | can be reached at sadjadi@cs.fiu.edu
                    br
                    br
                    br
                    br
        div.row
            div.hidden-xl.hidden-lg.hidden-md.hidden-sm
                a(href='http://users.cis.fiu.edu/~sadjadi/' target='_blank')
                    | #[img#featured.img.left-block( src="/img/sadjadi.jpg" alt="", width=200)]
                    br
                h4.strong Masoud Sadjadi, PhD
                p Dr. Sadjadi holds a B.S. degree in Hardware Engineering, an M.S.
                    | degree in Software Engineering, and a Ph.D. degree in Computer
                    | Science. He is currently an Associate Professor in the School
                    | of Computing and Information Sciences at Florida International
                    | University, where he has been on the faculty since 2004. He
                    | serves as the Director of the VIP project at FIU, the Director
                    | of the Professional Master in Science for Information Technology
                    | at FIU, and is in charge of Computer Science Senior Projects.
                    | He has extensive experience in software development and leading
                    | large-scale software engineering projects both in industry
                    | and in academia. During the past three years, Dr. Sadjadi
                    | has successfully transformed senior projects at FIU from a
                    | traditional waterfall approach to an agile/scrum approach.
                    | Dr. Sadjadis research is focused on Agile Software Development
                    | in Distributed Systems, Autonomic Computing, High-Performance
                    | Computing, Grid Computing, Cloud Computing, Pervasive Systems,
                    | and Mobile Computing. He is the Director of the Autonomic
                    | Cloud Research Laboratory (ACRL) at FIU and leads several
                    | projects under the Latin American Grid initiative. Currently,
                    | he is collaborating with top researchers in 8 countries and
                    | is leading several international collaborative research projects.
                    | He has served as the General Chair of, Program Chair, Co-Chair,
                    | and Committee Member of several top-tier international conferences
                    | and workshops of his field. He has served as a referee for
                    | several IEEE and SP&E journals and as a referee and panelist
                    | for several funding agencies including National Science Foundation
                    | (NSF), Luxembourg National Research Fund (FNR), and Florida Sea Grant.
                    | He has more than 80-refereed publications and is PI or Co-PI
                    | of 17 grants from NSF, IBM, Kaseya, TeraGrid, and FIU for a
                    | total of about $6 million. Dr. Sadjadi was previously the
                    | Director of the Center of Partnership for International
                    | Research & Education (PIRE) funded by the National Science
                    | Foundation for $2.3 million. He is a member of the IEEE and
                    | can be reached at sadjadi@cs.fiu.edu
                    br
                    br
                    br
                    br
    div.container
        div.row
            div.col-xl-8.hidden-lg.hidden-md.hidden-sm.hidden-xs
                p Mohsen Taheri has been a PhD student of Computer Science at
                    | Florida International University (FIU) since Fall 2014. He
                    | received the B.S. degree in computer engineering/software
                    | engineering in 2010, the M.S. degree in computer
                    | engineering/software engineering in 2014. Currently, he is
                    | working under the supervision of Prof. Masoud Sadjadi. The
                    | main focus of his research is on Software Engineering and
                    | Agile Software Development.
            div.col-xl-4.hidden-lg.hidden-md.hidden-sm.hidden-xs
                a(href='http://vip.fiu.edu/#/contact' target='_blank')
                    | #[img#featured.img.left-block( src="/img/mohsen.jpg" alt="", width=300)]
                h3.strong Mohsen Taheri
                    br
                    br
                    br
                    br
        div.row
            div.hidden-xl.col-lg-8.col-md-8.hidden-sm.hidden-xs
                p Mohsen Taheri has been a PhD student of Computer Science at
                    | Florida International University (FIU) since Fall 2014. He
                    | received the B.S. degree in computer engineering/software
                    | engineering in 2010, the M.S. degree in computer
                    | engineering/software engineering in 2014. Currently, he is
                    | working under the supervision of Prof. Masoud Sadjadi. The
                    | main focus of his research is on Software Engineering and
                    | Agile Software Development.
            div.hidden-xl.col-lg-4.col-md-4.hidden-sm.hidden-xs
                a(href='http://vip.fiu.edu/#/contact' target='_blank')
                    | #[img#featured.img.left-block( src="/img/mohsen.jpg" alt="", width=300)]
                h3.strong Mohsen Taheri
                    br
                    br
                    br
                    br
        div.row
            div.hidden-xl.hidden-lg.hidden-md.col-sm-8.hidden-xs
                p Mohsen Taheri has been a PhD student of Computer Science at
                    | Florida International University (FIU) since Fall 2014. He
                    | received the B.S. degree in computer engineering/software
                    | engineering in 2010, the M.S. degree in computer
                    | engineering/software engineering in 2014. Currently, he is
                    | working under the supervision of Prof. Masoud Sadjadi. The
                    | main focus of his research is on Software Engineering and
                    | Agile Software Development.
            div.hidden-xl.hidden-lg.hidden-md.col-sm-4.hidden-xs
                a(href='http://vip.fiu.edu/#/contact' target='_blank')
                    | #[img#featured.img.left-block( src="/img/mohsen.jpg" alt="", width=200)]
                h4.strong Mohsen Taheri
                    br
                    br
                    br
                    br
        div.row
            div.hidden-xl.hidden-lg.hidden-md.hidden-sm.col-xs-12
                a(href='http://vip.fiu.edu/#/contact' target='_blank')
                    | #[img#featured.img.left-block( src="/img/mohsen.jpg" alt="", width=200)]
                h4.strong Mohsen Taheri
            div.hidden-xl.hidden-lg.hidden-md.hidden-sm.col-xs-12
                p Mohsen Taheri has been a PhD student of Computer Science at
                    | Florida International University (FIU) since Fall 2014. He
                    | received the B.S. degree in computer engineering/software
                    | engineering in 2010, the M.S. degree in computer
                    | engineering/software engineering in 2014. Currently, he is
                    | working under the supervision of Prof. Masoud Sadjadi. The
                    | main focus of his research is on Software Engineering and
                    | Agile Software Development.
                    br
                    br
                    br
                    br
    div.container
        div.row
            h2.strong Spring 2015
    div.container
        div.row
            div.col-xl-offset-3.col-xl-3.hidden-lg.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=300)]
                h4.strong Perez, Danae I.
                p dpere241@fiu.edu
                p Graduation May 2015
                br
                br
            div.col-xl-3.hidden-lg.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=300)]
                h4.strong Vidal, Icxe
                p ivida002@fiu.edu
                p Graduation May 2015
                br
                br
            div.hidden-xl.col-lg-8.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=300)]
                h4.strong Perez, Danae I.
                p dpere241@fiu.edu
                p Graduation May 2015
                br
                br
            div.hidden-xl.col-lg-4.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=300)]
                h4.strong Vidal, Icxe
                p ivida002@fiu.edu
                p Graduation May 2015
                br
                br
            div.hidden-xl.hidden-lg.col-md-8.col-sm-8.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=200)]
                h4.strong Perez, Danae I.
                p dpere241@fiu.edu
                p Graduation May 2015
                br
                br
            div.hidden-xl.hidden-lg.col-md-4.col-sm-4.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=200)]
                h4.strong Vidal, Icxe
                p ivida002@fiu.edu
                p Graduation May 2015
                br
                br
            div.hidden-xl.hidden-lg.hidden-md.hidden-sm.col-xs-12
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=200)]
                h4.strong Perez, Danae I.
                p dpere241@fiu.edu
                p Graduation May 2015
                br
                br
            div.hidden-xl.hidden-lg.hidden-md.hidden-sm.col-xs-12
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=200)]
                h4.strong Vidal, Icxe
                p ivida002@fiu.edu
                p Graduation May 2015
                br
                br
    div.container
        div.row
            h2.strong Summer 2015
    div.container
        div.row
            div.col-xl-offset-3.col-xl-3.hidden-lg.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=300)]
                h4.strong Fleitas, Yamila
                p yflei001@fiu.edu
                p Graduation Aug 2015
                br
                br
            div.col-xl-3.hidden-lg.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=300)]
                h4.strong Vizcaino, David
                p dvizc002@fiu.edu
                p Graduation Aug 2015
                br
                br
            div.hidden-xl.col-lg-8.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=300)]
                h4.strong Fleitas, Yamila
                p yflei001@fiu.edu
                p Graduation Aug 2015
                br
                br
            div.hidden-xl.col-lg-4.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=300)]
                h4.strong Vizcaino, David
                p dvizc002@fiu.edu
                p Graduation Aug 2015
                br
                br
            div.hidden-xl.hidden-lg.col-md-8.col-sm-8.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=200)]
                h4.strong Fleitas, Yamila
                p yflei001@fiu.edu
                p Graduation Aug 2015
                br
                br
            div.hidden-xl.hidden-lg.col-md-4.col-sm-4.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=200)]
                h4.strong Vizcaino, David
                p dvizc002@fiu.edu
                p Graduation Aug 2015
                br
                br
            div.hidden-xl.hidden-lg.hidden-md.hidden-sm.col-xs-12
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=200)]
                h4.strong Fleitas, Yamila
                p yflei001@fiu.edu
                p Graduation Aug 2015
                br
                br
            div.hidden-xl.hidden-lg.hidden-md.hidden-sm.col-xs-12
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=200)]
                h4.strong Vizcaino, David
                p dvizc002@fiu.edu
                p Graduation Aug 2015
                br
                br
    div.container
        div.row
            h2.strong Fall 2015
    div.container
        div.row
            div.col-xl-offset-3.col-xl-3.hidden-lg.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=300)]
                h4.strong Rodney, Sanchez
                p rsantamarina@outlook.com
                p Graduation Dec 2015
                br
                br
            div.col-lg-3.hidden-lg.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=300)]
                h4.strong del Rosario, Ryan
                p delrosario.ryan@gmail.com
                p Graduation Dec 2015
                br
                br
            div.hidden-xl.col-lg-8.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=300)]
                h4.strong Rodney, Sanchez
                p rsantamarina@outlook.com
                p Graduation Dec 2015
                br
                br
            div.hidden-xl.col-lg-4.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=300)]
                h4.strong del Rosario, Ryan
                p delrosario.ryan@gmail.com
                p Graduation Dec 2015
                br
                br
            div.hidden-xl.hidden-lg.col-md-8.col-sm-8.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=200)]
                h4.strong Rodney, Sanchez
                p rsantamarina@outlook.com
                p Graduation Dec 2015
                br
                br
            div.hidden-xl.hidden-lg.col-md-4.col-sm-4.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=200)]
                h4.strong del Rosario, Ryan
                p delrosario.ryan@gmail.com
                p Graduation Dec 2015
                br
                br
            div.hidden-xl.hidden-lg.hidden-md.hidden-sm.col-xs-12
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=200)]
                h4.strong Rodney, Sanchez
                p rsantamarina@outlook.com
                p Graduation Dec 2015
                br
                br
            div.hidden-xl.hidden-lg.hidden-md.hidden-sm.col-xs-12
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=200)]
                h4.strong del Rosario, Ryan
                p delrosario.ryan@gmail.com
                p Graduation Dec 2015
                br
                br
    div.container
        div.row
            h2.strong Spring 2016
    div.container
        div.row
            div.col-xl-3.hidden-lg.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=300)]
                h4.strong Alvarez, Edwin
                p ealva153@fiu.edu
                p Graduation May 2015
                br
                br
            div.col-xl-3.hidden-lg.hidden-md.hidden-sm.hidden-xs
                a(href='https://www.linkedin.com/in/alejandro-henao-97a542112' target='_blank')
                    | #[img( src="/img/henao.png" alt="", width=300)]
                h4.strong Henao, Alejandro
                p Microservice architecture
                p ahena001@fiu.edu
                p Graduation May 2015
                br
                br
            div.col-xl-3.hidden-lg.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=300)]
                h4.strong Martin, Leonardo
                p lmart296@fiu.edu
                p Graduation May 2015
                br
                br
            div.col-xl-3.hidden-lg.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=300)]
                h4.strong Messarina, Piero
                p piero.messarina@gmail.com
                p Graduation May 2015
                br
                br
            div.hidden-xl.col-lg-8.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=300)]
                h4.strong Alvarez, Edwin
                p ealva153@fiu.edu
                p Graduation May 2015
                br
                br
            div.hidden-xl.col-lg-4.hidden-md.hidden-sm.hidden-xs
                a(href='https://www.linkedin.com/in/alejandro-henao-97a542112' target='_blank')
                    | #[img( src="/img/henao.png" alt="", width=300)]
                h4.strong Henao, Alejandro
                p Microservice architecture
                p ahena001@fiu.edu
                p Graduation May 2015
                br
                br
            div.hidden-xl.col-lg-8.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=300)]
                h4.strong Martin, Leonardo
                p lmart296@fiu.edu
                p Graduation May 2015
                br
                br
            div.hidden-xl.col-lg-4.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=300)]
                h4.strong Messarina, Piero
                p piero.messarina@gmail.com
                p Graduation May 2015
                br
                br
            div.hidden-xl.hidden-lg.col-md-8.col-sm-8.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=200)]
                h4.strong Alvarez, Edwin
                p ealva153@fiu.edu
                p Graduation May 2015
                br
                br
            div.hidden-xl.hidden-lg.col-md-4.col-sm-4.hidden-xs
                a(href='https://www.linkedin.com/in/alejandro-henao-97a542112' target='_blank')
                    | #[img( src="/img/henao.png" alt="", width=200)]
                h4.strong Henao, Alejandro
                p Microservice architecture
                p ahena001@fiu.edu
                p Graduation May 2015
                br
                br
            div.hidden-xl.hidden-lg.col-md-8.col-sm-8.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=200)]
                h4.strong Martin, Leonardo
                p lmart296@fiu.edu
                p Graduation May 2015
                br
                br
            div.hidden-xl.hidden-lg.col-md-4.col-sm-4.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=200)]
                h4.strong Messarina, Piero
                p piero.messarina@gmail.com
                p Graduation May 2015
                br
                br
            div.hidden-xl.hidden-lg.hidden-md.hidden-sm.col-xs-12
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=200)]
                h4.strong Alvarez, Edwin
                p ealva153@fiu.edu
                p Graduation May 2015
                br
                br
            div.hidden-xl.hidden-lg.hidden-md.hidden-sm.col-xs-12
                a(href='https://www.linkedin.com/in/alejandro-henao-97a542112' target='_blank')
                    | #[img( src="/img/henao.png" alt="", width=200)]
                h4.strong Henao, Alejandro
                p Microservice architecture
                p ahena001@fiu.edu
                p Graduation May 2015
                br
                br
            div.hidden-xl.hidden-lg.hidden-md.hidden-sm.col-xs-12
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=200)]
                h4.strong Martin, Leonardo
                p lmart296@fiu.edu
                p Graduation May 2015
                br
                br
            div.hidden-xl.hidden-lg.hidden-md.hidden-sm.col-xs-12
                a(href='#' target='_blank')
                    | #[img( src="/img/nopic.png" alt="", width=200)]
                h4.strong Messarina, Piero
                p piero.messarina@gmail.com
                p Graduation May 2015
                br
                br
    div.container
        div.row
            h2.strong Summer 2016
    div.container
        div.row
            div.col-xl-3.hidden-lg.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/burke.jpg" alt="", width=300)]
                h4.strong Burke, John
                p jburk045@fiu.edu
                p Front end
                p Graduation 5 Aug. 2016
                br
                br
            div.col-xl-3.hidden-lg.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/gonzalez_e.jpg" alt="", width=300)]
                h4.strong Gonzalez, Emmanuel
                p egonz077@fiu.edu
                p Application Security
                p Graduation 5 Aug. 2016
                br
                br
            div.col-xl-3.hidden-lg.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/medina_j.png" alt="", width=300)]
                h4.strong Medina, Jorge
                p jmedi116@fiu.edu
                p Back end
                p Graduation 5 Aug. 2016
                br
                br
            div.col-xl-3.hidden-lg.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nilton.jpg" alt="", width=300)]
                h4.strong Munoz, Nilton
                p nmuno013@fiu.edu
                p Bolo Templates
                p Graduation 5 Aug. 2016
                br
                br
            div.hidden-xl.col-lg-8.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/burke.jpg" alt="", width=300)]
                h4.strong Burke, John
                p jburk045@fiu.edu
                p Front end
                p Graduation 5 Aug. 2016
                br
                br
            div.hidden-xl.col-lg-4.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/gonzalez_e.jpg" alt="", width=300)]
                h4.strong Gonzalez, Emmanuel
                p egonz077@fiu.edu
                p Application Security
                p Graduation 5 Aug. 2016
                br
                br
            div.hidden-xl.col-lg-8.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/medina_j.png" alt="", width=300)]
                h4.strong Medina, Jorge
                p jmedi116@fiu.edu
                p Back end
                p Graduation 5 Aug. 2016
                br
                br
            div.hidden-xl.col-lg-4.hidden-md.hidden-sm.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nilton.jpg" alt="", width=300)]
                h4.strong Munoz, Nilton
                p nmuno013@fiu.edu
                p Bolo Templates
                p Graduation 5 Aug. 2016
                br
                br
        div.row
            div.hidden-xl.hidden-lg.col-md-8.col-sm-8.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/burke.jpg" alt="", width=200)]
                h4.strong Burke, John
                p jburk045@fiu.edu
                p Front end
                p Graduation 5 Aug. 2016
                br
                br
            div.hidden-xl.hidden-lg.col-md-4.col-sm-4.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/gonzalez_e.jpg" alt="", width=200)]
                h4.strong Gonzalez, Emmanuel
                p egonz077@fiu.edu
                p Application Security
                p Graduation 5 Aug. 2016
                br
                br
        div.row
            div.hidden-xl.hidden-lg.col-md-8.col-sm-8.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/medina_j.png" alt="", width=200)]
                h4.strong Medina, Jorge
                p jmedi116@fiu.edu
                p Back end
                p Graduation 5 Aug.
                br
                br
            div.hidden-xl.hidden-lg.col-md-4.col-sm-4.hidden-xs
                a(href='#' target='_blank')
                    | #[img( src="/img/nilton.jpg" alt="", width=200)]
                h4.strong Munoz, Nilton
                p nmuno013@fiu.edu
                p Bolo Templates
                p Graduation 5 Aug. 2016
                br
                br
        div.row
            div.hidden-xl.hidden-lg.hidden-md.hidden-sm.col-xs-12
                a(href='#' target='_blank')
                    | #[img( src="/img/burke.jpg" alt="", width=200)]
                h4.strong Burke, John
                p jburk045@fiu.edu
                p Front end
                p Graduation 5 Aug. 2016
                br
                br
        div.row
            div.hidden-xl.hidden-lg.hidden-md.hidden-sm.col-xs-12
                a(href='#' target='_blank')
                    | #[img( src="/img/gonzalez_e.jpg" alt="", width=200)]
                h4.strong Gonzalez, Emmanuel
                p egonz077@fiu.edu
                p Application Security
                p Graduation 5 Aug. 2016
                br
                br
        div.row
            div.hidden-xl.hidden-lg.hidden-md.hidden-sm.col-xs-12
                a(href='#' target='_blank')
                    | #[img( src="/img/medina_j.png" alt="", width=200)]
                h4.strong Medina, Jorge
                p jmedi116@fiu.edu
                p Back end
                p Graduation 5 Aug. 2016
                br
                br
        div.row
            div.hidden-xl.hidden-lg.hidden-md.hidden-sm.col-xs-12
                a(href='#' target='_blank')
                    | #[img( src="/img/nilton.jpg" alt="", width=200)]
                h4.strong Munoz, Nilton
                p nmuno013@fiu.edu
                p Bolo Templates
                p Graduation 5 Aug. 2016
                br
                br
