extends ./layout.jade
include ./includes/mixins.jade

block jumbo
    .jumbotron
        .container
            h3 About Us

block content
    img#featured.img-fluid( src="/img/ceballos.jpg" alt="", width=400 )
    h3 Founder: Chief Samuel Ceballos
    P
    img#featured.img-fluid( src="/img/UGpic.jpg" alt="", width=400 )
    h3 Cofounder: Major Jason Cohen
    p
    img#featured.img-fluid( src="/img/UGpic.jpg" alt="", width=400 )
    h3 Project Mentor: Juan Caraballo
    P
    img#featured.img-fluid( src="/img/UGpic.jpg" alt="", width=400 )
    h3 Project Mentor: Robert Loredo
    p
