extends ./layout.jade
include ./includes/mixins.jade

block jumbo
    .jumbotron
        .container
            h3 FIU's contribution

block content
    table
        tr
            h1 This page is under construction
        tr
            p &nbsp;&nbsp;&nbsp;&nbsp; FIU made major contributions by

        tr
            td.col-md-4
                img#featured.img-fluid( src="/img/UGpic.jpg" alt="", width=400 )
                h3 Project Mentor: Juan Caraballo
                P
            td
                img#featured.img-fluid( src="/img/UGpic.jpg" alt="", width=400 )
                h3 Project Mentor: Robert Loredo
                p
