
include ./includes/mixins.jade
extends ./layout.jade


block jumbo
    .jumbotron
        .container
            p Search BOLOs

block content
    include ./partials/global-alerts.jade

    include ./partials/bolo-options.jade

    form#create-bolo-form(action="/bolo/search" enctype="multipart/form-data" method="post")
        input( type="hidden" name="status" value="New" )

        div.text-danger.strong.h4 Search Theft - Auto

        +select_options( "agencyName", "Agency", agencies, true, "" )

        +input_text( "vehicleYear", "Year", "", false,  "" )
        +select_options( "vehicleMake", "Make", vehicles_makes, false, "" )
        +input_text( "vehicleModel", "Model", "", false,  "" )
        +select_options( "vehicleStyle", "Style", v_style, false, "" )
        +input_text( "vehicleColor", "Color", "", false, "" )
        +input_text( "vehicleIdNumber", "Vehicle Identification Number", "", false,  "" )
        .row
            .col-md-4
                +select_options( "vehicleLicenseState", "Tag License Plate", states, false, "" )
            .col-md-8
                +input_text( "vehicleLicensePlate", "", "", false, "" )

        +input_text( "wildcard", "Wildcard Search", "", false, "" )
        +check_box("matchFields","Match Fields",true)
        .form-group
            button.btn.btn-primary( type="submit" value="save") Search
