include ./includes/mixins.jade
include ../routes/bolos.js
extends ./layout.jade

block jumbo
    .jumbotron
        .container
            p Create a BOLO

block content
    include ./partials/global-alerts.jade
    include ./partials/bolo-options.jade


    form#create-bolo-form(action= "/bolo/create" enctype="multipart/form-data" method="post")
        input( type = "hidden" name="status" value="new")

        .row
            .col-md-6
                +input_text( "dateReported", "Date Reported (DD/MM/YYYY)", "", false, "" )
            .col-md-6
                +input_text( "timeReported", "Time Reported (HH:MM)", "", false, "" )

        +input_text_static( "category", "Category", "", false, "THEFT - AUTO")

        +input_text( "vehicleYear", "Year", "", false,  "" )
        +select_options( "vehicleMake", "Make", vehicles_makes, false, "" )
        +input_text( "vehicleModel", "Model", "", false,  "" )
        +select_options( "vehicleStyle", "Style", v_style, false, "" )
        +input_text( "vehicleColor", "Color", "", false, "" )
        +input_text( "vehicleIdNumber", "Vehicle Identification Number", "", false,  "" )
        .row
            .col-md-4
                +select_options( "vehicleLicenseState", "License Plate State", states, false, "" )
            .col-md-8
                +input_text( "vehicleLicensePlate", "License Plate Number", "", false, "" )

        .form-group.row
            .col-md-4
                label.control-label( for="featured_image" ) Featured Image
                input( name="featured_image" type="file" accept="image/*" )

            .col-md-4
                label.control-label( for="featured_image" ) Image Upload
                input( name="image_upload[]" type="file" accept="image/*" )

            .col-md-4
                label.control-label( for="featured_image" ) Image Upload
                input( name="image_upload[]" type="file" accept="image/*" )

        +input_text( "video_url", "Video Link", "", false, "", "url" )
        +input_textarea( "additional", "Additional Info", "", false, "" )
        +input_textarea( "summary", "Summary", "", false, "" )

        .form-group
            button.btn.btn-default( name = "option" type = "submit" value = "submit" id= "buttonClickCreate" disabled = false) SUBMIT
            button.btn.btn-default( name = "option" type = "submit" value = "preview" ) PREVIEW
