extends layout


block jumbo
	.jumbotron
		.container
			p Additional Images
			button.btn.btn-primary(onclick='history.go(-1);') Go Back


block content
	each name, uuid in bolo.images
		img( src="/bolo/asset/" + bolo.id + "/" + uuid )
