extends ./admin-layout.jade

// Author John Burke
block jumbo-desc
    p Admin Portal: Data Analysis

block admin-content
    if (tier === 'ROOT')
        script.
            $(document).ready(function() {
                // Default Icon Trigger
                $('.datepicker').datepicker({
                    showOn: "button",
                    buttonImage: "http://jqueryui.com/resources/demos/images/calendar.gif",
                    buttonText: "Select date",
                    changeMonth: true,
                    changeYear: true,
                    minDate: new Date(2016, 7-1, 15),
                    maxDate: 0
                });
            });
        .col-xl-offset-2.col-xl-6.col-lg-offset-2.col-lg-6.hidden-md.hidden-sm.hidden-xs
            p.lead Retrieve data for analysis
            select.selectpicker(id="parent-menu" title="Select an Agency" mobile = "true" onchange="location = this.value" data-width="fit")
                  option(value="/admin/dataAnalysis/bolotocsv" ) Pincrest
                  option(value="/bolo/mybolos" ) FIU
            br
            br
            h4 Start Date:
            form
                .form-group
                    input.datepicker.form-control
            h4 End Date:
            form
                .form-group
                    input.datepicker.form-control
            <br>
            +check_box("matchFields","All Data",true)
            .form-group
                a.btn.btn-default.pull-left( href="/admin/dataAnalysis/bolotocsv" type = "submit" value = "submit") Down load
                a.btn.btn-default.pull-right( href="/admin/dataAnalysis/bolotocsv", target="_blank") All Data
        .hidden-lg.hidden-xl
            br
            h3.strong(style='color:red;') I apologize for the inconvenience, you are temporary restricted
                | from this action because you might be on a mobile device
    else
        h1.strong(style='color:red;') Well this is embarrassing! Who are you?
