extends ./layout.jade
include ./includes/mixins.jade

// Author John Burke
block jumbo
    .jumbotron
        .container
            h3 Down Load data for Analysis

block content
    script.
        $(document).ready(function() {
            // Default Icon Trigger
            $('.datepicker').datepicker({
                showOn: "button",
                buttonImage: "http://jqueryui.com/resources/demos/images/calendar.gif",
                buttonText: "Select date",
                changeMonth: true,
                changeYear: true,
                minDate: new Date(2016, 7-1, 15),
                maxDate: 0
            });
        });
    if (tier === 'ROOT')
        div.container
            div.row
                div.col-lg-3.col-md-4.hidden-sm.hidden-xs
                    h4 Analysis Parameters:
                        .form-group
                        select#anim
                            option(value='') Agency
                            option(value='#') Auto Theft
                            option(value='#') Boat Theft
                            option(value='#') All
                            <br>
        div.container
            div.row
                div.col-lg-3.col-md-4.hidden-sm.hidden-xs
                    h4 From Date:
                    form
                        .form-group
                            input.datepicker.form-control

        div.container
            div.row
                div.col-lg-3.col-md-4.hidden-sm.hidden-xs
                    h4 To Date:
                    form
                        .form-group
                            input.datepicker.form-control
        <br>
        <br>
        div
            div.col-lg-3.col-md-4.hidden-sm.hidden-xs
                .form-group
                    button.btn.btn-default( name = "option" type = "submit" value = "submit") SUBMIT
        div.hidden-lg.hidden-md
            br
            p I apologize for the inconvenience, you have been temporary restricted
                | from this action because you might be on a mobile device
    else
        h1 Well this is embarrassing! Who are you?
