extends ./layout.jade
include ./includes/mixins.jade

block jumbo
    .jumbotron
      .container(style="display:flex; justify-content: center;")
        div
          div(style="display: flex; justify-content: center;")
              img(src= "/img/chiefsofpolice.png" style="height:200px;")
            h1(style="text-align: center;") BOLO
            p Flier Creator Version 4.0
            p.strong Situational Awareness Multi-Jurisdictional Resource

block content
    include ./partials/global-alerts.jade

    form#login(action="/forgotPassword" method="post")
        +input_text("email", "Email", "", true, "", "text")
        .form-group
            button.btn.btn-primary(type="submit" value="reset") Reset password
            a(href='/login' style="margin-left:10px") Wait, I remember
