extends ./layout.jade
include ./includes/mixins.jade

//Author John Burke

block jumbo
    .jumbotron
        .container
            .row
              div.col-xs-12
                 h2 System Settings
            br

block content
    if ( tier === 'ROOT' )
        <br> <br> <br>
        div.container
            div.row
                div.col-lg-4.col-md-6.col-sm-6.col-xs-12
                    label Brute Force Login (3 - 10) Attempts&nbsp;&nbsp;
                    input(type='number', name='brute', min='3', max='10')
                    <br>
                    <br>
            div.row
                div.col-lg-4.col-md-6.col-sm-6.col-xs-12
                    label System Timeout (10 - 240) Minutes&nbsp;&nbsp;
                    input(type='number', name='minutes', min='10', max='240')
                    <br>
                    <br>
            div.row
                div.col-lg-4.col-md-6.col-sm-6.col-xs-12
                    input(type='submit', data-inline='true', value='Submit')

    else
        P where did you come from?
