extends ./layout.jade
include ./includes/mixins.jade

// Author John Burke

block jumbo
    .jumbotron
        .container
            img#featured.img.center-block(src="/img/chiefsofpolice.png" alt="", style="height:200px;")
            p(align='center') User's Guide
            a.btn.btn-default(href='/userGuide/pdf' target="_blank") Generate PDF
                |&nbsp;
            br

block content
    if (tier === 'SUPERVISOR' || tier === 'ADMINISTRATOR' || tier === 'ROOT' || tier === 'OFFICER')
        h3.strong(style='color:030b2f;') Introduction
        p &nbsp;&nbsp;&nbsp;&nbsp;Upon Welcome to the BOLO Flyer Creator, a Situational Awareness
            | Multi-Jurisdictional Resource. Every user of BOLO has access to
            | different features and therefore a different user's guide will be
            | custom tailored specific to each user. Upon logging into BOLO you
            | will be brought to the home page. This is where you view your BOLOs
            | along with other BOLOs from officers within your agency. In addition
            | to viewing BOLOs from your agency, you may also opt to view BOLOs
            | from other agencies. The first instruction will be the most
            | important tailored for you. If you are the root or an admin it will be the
            | settings under the Admin link. For other users it will be how to create a bolo.
            | A BOLO can have up to several buttons on it that will be explained.
            | From any page you will also see several other links accessible
            | across the top. For mobile devices you will have a dropdown menu accessible
            | from the top right corner of your screen. All these links will be
            | explained shortly in easy to follow step by step instructions. If some
            | reason you notice something wrong with your user details (i.e. your
            | have a name change or something of that nature), you will need to
            | contact your agency administration immediately.
        br

    if (tier === 'ROOT')
        h3.strong(style='color:030b2f;')  Agency management
        P &nbsp;&nbsp;&nbsp;&nbsp;1) Click on 'Admin'
        P &nbsp;&nbsp;&nbsp;&nbsp;2) Click on 'Agency Management'
        P.strong(style='color:red;') &nbsp;&nbsp;&nbsp;&nbsp;* * Create a new Agency * *
        P &nbsp;&nbsp;&nbsp;&nbsp;3) Click on 'Add new agency'
        P &nbsp;&nbsp;&nbsp;&nbsp;4) Fill in all fields (required)
        P &nbsp;&nbsp;&nbsp;&nbsp;5) Select new agency logo (required)
        P &nbsp;&nbsp;&nbsp;&nbsp;6) Select new agency shield (required)
        P &nbsp;&nbsp;&nbsp;&nbsp;7) Enter a 'Water  Mark' image (optional)
        P &nbsp;&nbsp;&nbsp;&nbsp;8) Click 'Submit'
        P.strong(style='color:red;') &nbsp;&nbsp;&nbsp;&nbsp;* * Up date an Angency * *
        P &nbsp;&nbsp;&nbsp;&nbsp;3) Click on the 'Blue Asterisk' to the right on the agency
        P &nbsp;&nbsp;&nbsp;&nbsp;4) Enter or Modify any fields required
        P &nbsp;&nbsp;&nbsp;&nbsp;5) Enter or Update 'Logo' image
        P &nbsp;&nbsp;&nbsp;&nbsp;6) Enter or Update 'Shield' image
        P &nbsp;&nbsp;&nbsp;&nbsp;7) Enter or update 'Water  Mark' image
        P &nbsp;&nbsp;&nbsp;&nbsp;8) Click 'Submit'
        br

    if (tier === 'ADMINISTRATOR')
        h3.strong(style='color:030b2f;')  Agency management
        P &nbsp;&nbsp;&nbsp;&nbsp;1) Click on 'Admin'
        P &nbsp;&nbsp;&nbsp;&nbsp;2) Click on 'Agency Management'
        P &nbsp;&nbsp;&nbsp;&nbsp;3) Click on the 'Blue Asterisk' to the right on the agency
        P &nbsp;&nbsp;&nbsp;&nbsp;4) Enter or Modify any fields (required)
        P &nbsp;&nbsp;&nbsp;&nbsp;5) Enter or update 'Logo' image (required)
        P &nbsp;&nbsp;&nbsp;&nbsp;6) Enter or update 'Shield' image (required)
        P &nbsp;&nbsp;&nbsp;&nbsp;7) Enter or update 'Water  Mark' image(optional)
        P &nbsp;&nbsp;&nbsp;&nbsp;8)Choose to allow officers to opt out of viewing BOLOs from their agency
        P &nbsp;&nbsp;&nbsp;&nbsp;9) Click 'Submit'
        br

    if (tier === 'ROOT')

        h3.strong(style='color:030b2f;') Data Analysis
        P &nbsp;&nbsp;&nbsp;&nbsp;1) Click on 'Admin'
        P &nbsp;&nbsp;&nbsp;&nbsp;2) Click on 'Data Analysis'
        P &nbsp;&nbsp;&nbsp;&nbsp;3) Select one or more 'Agencies'
        P &nbsp;&nbsp;&nbsp;&nbsp;4) Click 'Download'
        br

        h3.strong(style='color:030b2f;') Data Subscriber
        P &nbsp;&nbsp;&nbsp;&nbsp;1) Click on 'Admin'
        P &nbsp;&nbsp;&nbsp;&nbsp;2) Click on 'Data Subscriber'
        P.strong(style='color:red;') &nbsp;&nbsp;&nbsp;&nbsp;* * Add a new Subscriber * *
        P &nbsp;&nbsp;&nbsp;&nbsp;3) Click on 'Add New Data Subscriber'
        P &nbsp;&nbsp;&nbsp;&nbsp;4) Fill in data subscriber's ID, Name and email
        P &nbsp;&nbsp;&nbsp;&nbsp;5) Click 'Submit'
        P.strong(style='color:red;') &nbsp;&nbsp;&nbsp;&nbsp;* * Update a Subscriber * *
        P &nbsp;&nbsp;&nbsp;&nbsp;3) Click on 'Add New Data Subscriber'
        P &nbsp;&nbsp;&nbsp;&nbsp;4) Update data subscriber's ID, Name or email
        P &nbsp;&nbsp;&nbsp;&nbsp;5) Click 'Submit'
        P.strong(style='color:red;') &nbsp;&nbsp;&nbsp;&nbsp;* * Activate or Deactivate a subscriber * *
        P &nbsp;&nbsp;&nbsp;&nbsp;3) Click on the'Blue Asterisk' to the right on the agency
        P &nbsp;&nbsp;&nbsp;&nbsp;4) Click on 'Activate/Deactivate' button'
        br

        h3.strong(style='color:030b2f;') System Settings
        P &nbsp;&nbsp;&nbsp;&nbsp;1) Click on 'Admin'
        P &nbsp;&nbsp;&nbsp;&nbsp;2) Click on 'System Settings'
        P &nbsp;&nbsp;&nbsp;&nbsp;3) Select the number of minutes for the system to time out for all users
        P &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Time can be set between 10 and 240 minutes (recommended less than 60 minutes)
        P &nbsp;&nbsp;&nbsp;&nbsp;4) Set the number of brute force login attempts between 3 and 10
        P &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* A user locked out of the system will be required to reset their password
        P &nbsp;&nbsp;&nbsp;&nbsp;5) click 'Submit'
        br

    if (tier === 'ADMINISTRATOR' || tier === 'ROOT')
        h3.strong(style='color:030b2f;') User Management
        P &nbsp;&nbsp;&nbsp;&nbsp;1) Click on 'Admin'
        P &nbsp;&nbsp;&nbsp;&nbsp;2) Click on 'User Management'
        P.strong(style='color:red;') &nbsp;&nbsp;&nbsp;&nbsp;* * Add a new user's profile * *
        P &nbsp;&nbsp;&nbsp;&nbsp;3) Click on 'Add New User'
        P &nbsp;&nbsp;&nbsp;&nbsp;4) Fill in the empty fields(required)
        P &nbsp;&nbsp;&nbsp;&nbsp;5) Click 'Submit'
        P.strong(style='color:red;') &nbsp;&nbsp;&nbsp;&nbsp;* * Add a new user's profile * *
        P &nbsp;&nbsp;&nbsp;&nbsp;3) Click on the 'Blue Asterisk' on the right of the user
        P &nbsp;&nbsp;&nbsp;&nbsp;4) Update required fields
        P &nbsp;&nbsp;&nbsp;&nbsp;5) Click 'Submit'
        br

    if (tier === 'SUPERVISOR' || tier === 'ADMINISTRATOR' || tier === 'ROOT' || tier === 'OFFICER')
        h3.strong(style='color:030b2f;') Create a BOLO
        p &nbsp;&nbsp;&nbsp;&nbsp;Click 'Create' and Select Auto, Boat or General BOLO.
        P.strong(style='color:red;') &nbsp;&nbsp;&nbsp;&nbsp;* * Select Auto BOLO * *
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Enter the reported time and date (required)
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Fill in additional fields
        p &nbsp;&nbsp;&nbsp;&nbsp;3) Upload available images
        p &nbsp;&nbsp;&nbsp;&nbsp;4) Add a video link (if available)
        p &nbsp;&nbsp;&nbsp;&nbsp;5) FIll in the summery.
        p &nbsp;&nbsp;&nbsp;&nbsp;6) Click the 'Preview' Button to make sure you have added everything
        p &nbsp;&nbsp;&nbsp;&nbsp;7) Click 'Back to Create BOLO' to go back to the BOLO
        p &nbsp;&nbsp;&nbsp;&nbsp;8) Repeat Steps 2 - 7 until all information is complete
        p &nbsp;&nbsp;&nbsp;&nbsp;9) Click 'Submit' to submit your BOLO
        p &nbsp;&nbsp;&nbsp;&nbsp;10) Goto to your registered email and click on the confirmation link
        P.strong(style='color:red;') &nbsp;&nbsp;&nbsp;&nbsp;* * Select BOAT * *
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Enter the reported time and date (required)
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Fill in additional fields
        p &nbsp;&nbsp;&nbsp;&nbsp;3) Fill in propulsion and trailer details
        p &nbsp;&nbsp;&nbsp;&nbsp;4) Upload available images
        p &nbsp;&nbsp;&nbsp;&nbsp;5) Add a video link (if available)
        p &nbsp;&nbsp;&nbsp;&nbsp;6) FIll in the summery
        p &nbsp;&nbsp;&nbsp;&nbsp;7) Click the 'Preview' Button to make sure you have added everything
        p &nbsp;&nbsp;&nbsp;&nbsp;8) Click 'Back to Create BOLO' to go back to the BOLO
        p &nbsp;&nbsp;&nbsp;&nbsp;9) Repeat Steps 2 - 7 until all information is complete
        p &nbsp;&nbsp;&nbsp;&nbsp;10) Click 'Submit' to submit your BOLO
        p &nbsp;&nbsp;&nbsp;&nbsp;11) Goto to your registered email and click on the confirmation link
        P.strong(style='color:red;') &nbsp;&nbsp;&nbsp;&nbsp;* * Select General BOLO * *
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Enter the reported time and date (required)
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Select a category (required)
        p &nbsp;&nbsp;&nbsp;&nbsp;3) Fill in additional fields
        p &nbsp;&nbsp;&nbsp;&nbsp;4) Upload available images
        p &nbsp;&nbsp;&nbsp;&nbsp;5) Add a video link (if available)
        p &nbsp;&nbsp;&nbsp;&nbsp;6) FIll in the summery
        p &nbsp;&nbsp;&nbsp;&nbsp;7) Click the 'Preview' Button to make sure you have added everything
        p &nbsp;&nbsp;&nbsp;&nbsp;8) Click 'Back to Create BOLO' to go back to the BOLO
        p &nbsp;&nbsp;&nbsp;&nbsp;9) Repeat Steps 2 - 7 until all information is complete
        p &nbsp;&nbsp;&nbsp;&nbsp;10) Click 'Submit' to submit your BOLO
        p &nbsp;&nbsp;&nbsp;&nbsp;11) Goto to your registered email and click on the confirmation link
        br

        h3.strong(style='color:030b2f;') Edit a BLOL
        P.strong(style='color:red;') &nbsp;&nbsp;&nbsp;&nbsp;* * You can only edit your BOLOs * *
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Click 'Edit'
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Select any field you want to edit
        p &nbsp;&nbsp;&nbsp;&nbsp;3) Enter any information required
        p &nbsp;&nbsp;&nbsp;&nbsp;4) Click 'Submit'
        br

    if (tier === 'OFFICER' || tier === 'SUPERVISOR')
        h3.strong(style='color:030b2f;') View Details of a BOLO
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Click 'Details'
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Review details of a selected BOLO
        p &nbsp;&nbsp;&nbsp;&nbsp;3) Select 'Generate PDF' to download
        p &nbsp;&nbsp;&nbsp;&nbsp;4) Click 'Back' to go back to the BOLOs\n'
        br

    if (tier === 'ADMINISTRATOR' || tier === 'ROOT')
        h3.strong(style='color:030b2f;') View Details of a BOLO
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Click 'Details'
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Review details of a selected BOLO
        p &nbsp;&nbsp;&nbsp;&nbsp;3) Select 'Generate PDF' to download
        P.strong(style='color:red;') &nbsp;&nbsp;&nbsp;&nbsp;* * View a detailed record of who has edit this BOLO * *
        p &nbsp;&nbsp;&nbsp;&nbsp;5) Select 'View Record'
        p &nbsp;&nbsp;&nbsp;&nbsp;6) Click 'Back' to go back to the BOLO details
        br

        h3.strong(style='color:030b2f;') Filter by (Me)
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Click 'Filter By'
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Select filter:
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* My BOLO
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* My Agency
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* All BOLOs
        p &nbsp;&nbsp;&nbsp;&nbsp;3) Results BOLOs will display
        br

        h3.strong(style='color:030b2f;') Filter by Agency
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Click 'Select Agency'
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Select one or more agencies
        p &nbsp;&nbsp;&nbsp;&nbsp;3) Click 'Submit'
        p &nbsp;&nbsp;&nbsp;&nbsp;4) Results BOLOs will display
        br

    // print for officer
    if (tier === 'OFFICER' || tier === 'SUPERVISOR')
        h3.strong(style='color:030b2f;') Archive
        P.strong(style='color:red;') &nbsp;&nbsp;&nbsp;&nbsp;* * having access
            | to view archived BOLOs might assist you are looking for someone
            | who fits the description of another crime. * *
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Click 'Archive'
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Select a BOLO
        p &nbsp;&nbsp;&nbsp;&nbsp;3) Click 'View' to view the details
        br

    //print for administrator
    if(tier === 'ADMINISTRATOR')
        h3.strong(style='color:030b2f;') Archive
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Click 'Archive
        P.strong(style='color:red;') &nbsp;&nbsp;&nbsp;&nbsp;* * At the top of the page* *
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Select a BOLO
        p &nbsp;&nbsp;&nbsp;&nbsp;3) Click:
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* 'View' to view details
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* 'Restore' to restore the BOLO
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* 'Delete' to delete a BOLO
        P.strong(style='color:red;') &nbsp;&nbsp;&nbsp;&nbsp;* * On the BOLO * *
        p &nbsp;&nbsp;&nbsp;&nbsp;Send the BOLO to the archive files
    br

    //print for ROOT
    if( tier === 'ROOT')
        h3.strong(style='color:030b2f;') Archive
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Click 'Archive
        P.strong(style='color:red;') &nbsp;&nbsp;&nbsp;&nbsp;* * At the top of the page* *
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Select a BOLO
        p &nbsp;&nbsp;&nbsp;&nbsp;3) Click:
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* 'View' to view details
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* 'Restore' to restore the BOLO
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* 'Delete' to delete a BOLO
        p &nbsp;&nbsp;&nbsp;&nbsp;* 'Purge' to delete all the BOLOs at once
        P.strong(style='color:red;') &nbsp;&nbsp;&nbsp;&nbsp;* * On the BOLO * *
        p &nbsp;&nbsp;&nbsp;&nbsp;Send the BOLO to the archive files
        br

    if (tier === 'SUPERVISOR' || tier === 'ADMINISTRATOR' || tier === 'ROOT' || tier === 'OFFICER')
        h3.strong(style='color:030b2f;') Agency Directory
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Click on 'Agency Directory' to view a list
            | of partnering agencies.
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Select an agency by clicking their name
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* View contact information
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Verify an agency's 'Logo' and 'Shield
        br

        h3.strong(style='color:030b2f;') Search BOLO by field(s)
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Click 'Search'
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Select any field(s) you wish to search.
        p &nbsp;&nbsp;&nbsp;&nbsp;3) Enter information value of field(s).
        P.strong(style='color:red;') &nbsp;&nbsp;&nbsp;&nbsp;* *Wild card search
            | is for something you can not search with an optional search * *
        p &nbsp;&nbsp;&nbsp;&nbsp;4) Click 'Search'
        br

        h3.strong(style='color:030b2f;') Get Notifications
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Click on your 'Username'
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Click on 'Settings' from the dropdown
        p &nbsp;&nbsp;&nbsp;&nbsp;3) Click on 'Notifications'
        p &nbsp;&nbsp;&nbsp;&nbsp;4) Click on 'Subscribe to other Agencies at the bottom left'
        p &nbsp;&nbsp;&nbsp;&nbsp;5) Select agencies to recieve notifications
        P.strong(style='color:red;') &nbsp;&nbsp;&nbsp;&nbsp;* *You may also unsubribe from an angency * *
        p &nbsp;&nbsp;&nbsp;&nbsp;6) Select agencies to remove from your list of Agencies
        p &nbsp;&nbsp;&nbsp;&nbsp;7) Click 'Unscribe Selected'
        br

        h3.strong(style='color:030b2f;') Reset Password
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Click on your 'Username'
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Click on 'Settings' from the dropdown
        p &nbsp;&nbsp;&nbsp;&nbsp;3) Click 'Change Password'
        p &nbsp;&nbsp;&nbsp;&nbsp;4) Enter new password
        p &nbsp;&nbsp;&nbsp;&nbsp;5) enter confirmation password
        p &nbsp;&nbsp;&nbsp;&nbsp;6) Click 'Submit'
        br
