extends ./layout.jade
include ./includes/mixins.jade

// Author John Burke

block jumbo
    .jumbotron
        .container
            img#featured.img.center-block(src="/img/chiefsofpolice.png" alt="", style="height:200px;")
            p(align='center') User's Guide
            a.btn.btn-default(href='/userGuide/pdf' target="_blank") Generate PDF
                |&nbsp;
            br

block content
    if (tier === 'SUPERVISOR' || tier === 'ADMINISTRATOR' || tier === 'ROOT' || tier === 'OFFICER')
        h3 Introduction
        p &nbsp;&nbsp;&nbsp;&nbsp;Upon Welcome to the BOLO Flyer Crator, a Situational Awareness
            | Multi-Jurisdictional Resource. Every user of BOLO has access to
            | different features and therefore a different user's guide will be
            | custom tailored specific to each user. Upon logging into BOLO you
            | will be brought to the home page. This is where you view your BOLOs
            | along with other BOLOs from officers within your agency. In addition
            | to viewing BOLOs from your agency, you may also opt to view BOLOs
            | from other agencies too. The first instruction will be the most
            | important tailored for you. If you are root or admin, it will be user
            | and agency management. for other user it will be how to create a bolo.
            | A BOLO can have up to several buttons on it that will be explained.
            | From the home page you will also see several other links accessible
            | across the top. For mobile devices will have a dropdown menu accessible
            | from the top right corner of your screen. All these links will be
            | explained shortly in easy to follow step by step instructions. If some
            | reason you notice something wrong with your user details (i.e. your
            | have a name changeor something of that nature), you will need to
            | contact your agency administration immediately.
        br

    if (tier === 'ADMINISTRATOR' || tier === 'ROOT')
        h3 User Management
        P &nbsp;&nbsp;&nbsp;&nbsp;1) Click on "Admin"
        P &nbsp;&nbsp;&nbsp;&nbsp;2) Click on "User Management"
        P &nbsp;&nbsp;&nbsp;&nbsp;3) Click on "Add New User"
        P &nbsp;&nbsp;&nbsp;&nbsp;4) Fill in empty fields
        P &nbsp;&nbsp;&nbsp;&nbsp;5) Click "Submit"
        br

    if (tier === 'ROOT')
        h3  Agency management
        P &nbsp;&nbsp;&nbsp;&nbsp;1) Click on "Admin"
        P &nbsp;&nbsp;&nbsp;&nbsp;2) Click on "Agency Management"
        P &nbsp;&nbsp;&nbsp;&nbsp;3) Click on "Add new agency"
        P &nbsp;&nbsp;&nbsp;&nbsp;4) Fill in empty fields
        P &nbsp;&nbsp;&nbsp;&nbsp;5) Select new agency logo and shield images
        P &nbsp;&nbsp;&nbsp;&nbsp;6) Click "Submit"
        br

        h3 Data Subscriber
        P &nbsp;&nbsp;&nbsp;&nbsp;1) Click on "Admin"
        P &nbsp;&nbsp;&nbsp;&nbsp;2) Click on "Data Subscriber"
        P &nbsp;&nbsp;&nbsp;&nbsp;3) Click on "Add New Data Subscriber"
        P &nbsp;&nbsp;&nbsp;&nbsp;4) Fill in data subscriber's ID, Name and email
        P &nbsp;&nbsp;&nbsp;&nbsp;5) Click "Submit"
        br

        h3 System Settings
        P &nbsp;&nbsp;&nbsp;&nbsp;1) Click on "Admin"
        P &nbsp;&nbsp;&nbsp;&nbsp;2) Click on "System Settings"
        P &nbsp;&nbsp;&nbsp;&nbsp;3) Select the number of minutes for the system to time out for all users
        P &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* Time can be set between 10 and 240 minutes (recommended less than 60 minutes)
        P &nbsp;&nbsp;&nbsp;&nbsp;4) Set the number of brute force login attempts between 3 and 10
        P &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* A user locked out of the system will be required to reset their password
        P &nbsp;&nbsp;&nbsp;&nbsp;5) click "Submit"
        br

        h3 Data Analysis
        P &nbsp;&nbsp;&nbsp;&nbsp;1) Click on "Admin"
        P &nbsp;&nbsp;&nbsp;&nbsp;2) Click on "Data Analysis"
        P &nbsp;&nbsp;&nbsp;&nbsp;3) Select an "Agency"
        P &nbsp;&nbsp;&nbsp;&nbsp;4) Select a "Start Date"
        P &nbsp;&nbsp;&nbsp;&nbsp;5) Select an "End Date"
        P &nbsp;&nbsp;&nbsp;&nbsp;6) Click "Submit"
        br

    if (tier === 'SUPERVISOR' || tier === 'ADMINISTRATOR' || tier === 'ROOT' || tier === 'OFFICER')
        h3 Create BOLO
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Click "Create BOLO" and select the type
            | of BOLO you would like to create.
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Fill in required fields.
        p &nbsp;&nbsp;&nbsp;&nbsp;3) Select available images.
        p &nbsp;&nbsp;&nbsp;&nbsp;4) Add a video link (if available)
        p &nbsp;&nbsp;&nbsp;&nbsp;5) Add a summery.
        p &nbsp;&nbsp;&nbsp;&nbsp;6) Click the "Preview" Button to make sure you
            |have added everything.
        p &nbsp;&nbsp;&nbsp;&nbsp;7) Click "Back to Create BOLO" to go back to the BOLO.
        p &nbsp;&nbsp;&nbsp;&nbsp;8) Repeat Steps 2 - 7 until all information is complete.
        p &nbsp;&nbsp;&nbsp;&nbsp;9) Click "Submit" to submit your BOLO.
        p &nbsp;&nbsp;&nbsp;&nbsp;10) Goto to your registered email and click on
            | the confirmation link.
        br

        h3 Edit (link at bottom of BOLO)
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Click "Edit"
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Select any field you want to edit
        p &nbsp;&nbsp;&nbsp;&nbsp;3) Enter any information required
        p &nbsp;&nbsp;&nbsp;&nbsp;4) Click "Submit"
        br

        H3 Details (link at bottom of BOLO)
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Click "Details"
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Review details of a selected BOLO
        p &nbsp;&nbsp;&nbsp;&nbsp;3) Click "Home" to go back to the BOLOs
        br

        h3 Filter by (Button)
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Click "Filter By"
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Select filter:
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* My BOLO
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* My Agency
        p &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;* All BOLOs
        br

        h3 Select Agencies
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Click "Select Agency"
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Select several agencies
        p &nbsp;&nbsp;&nbsp;&nbsp;3) Click "Submit"
        br

    if (tier === 'ADMINISTRATOR' || tier === 'ROOT')
        h3 Archive (link at bottom of BOLO)
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Click "Archive"
        p &nbsp;&nbsp;&nbsp;&nbsp;2) The Bolo will be moved into the archived BOLOs
        p &nbsp;&nbsp;&nbsp;&nbsp;3) At this point you may "Restore," "Delete"
            | or "Purge" the BOLO
        br
    if (tier === 'SUPERVISOR' || tier === 'ADMINISTRATOR' || tier === 'ROOT' || tier === 'OFFICER')
        h3 Archive (link at the top)
        P You may view archived BOLOs just in case you are looking for someone
            | who fits the description of another crime.
        br
    if (tier === 'ADMINISTRATOR' || tier === 'ROOT')
        P Each BOLO has three options that you may change.
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Status
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Restore
        p &nbsp;&nbsp;&nbsp;&nbsp;3) Delete
        br
    if (tier === 'SUPERVISOR' || tier === 'ADMINISTRATOR' || tier === 'ROOT' || tier === 'OFFICER')
        h3 Agency
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Click on agency to view a list of partnering
            | agencies.
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Select an agency and view contact information
            | or verify the agency's "Logo" and "Shield."
        br
        h3 Search
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Select any field(s) you wish to search.
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Enter information value of field(s).
        p &nbsp;&nbsp;&nbsp;&nbsp;3) Wild card search is for something you can not
            | search with an optional search.
        p &nbsp;&nbsp;&nbsp;&nbsp;4) Click "Search"
        br
        h3 Filter by Agency
        p &nbsp;&nbsp;&nbsp;&nbsp;1) Click Filter By Agency
        p &nbsp;&nbsp;&nbsp;&nbsp;2) Select how you would like to view existing BOLO
